/* global */
.m-0 {
    margin: 0 !important;
}
.mb-3 {
    margin-bottom: 1.5rem !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.productinfo p {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    height: 40px;
}
.swal2-popup.swal2-toast .swal2-title {
    font-size: 1.5rem !important;
}

/* Cart page */
#cart_items {
    /* padding-bottom: 10rem; */
}
.cart_quantity_delete i,
.add-wishlist-home i,
.add-cart-home i {
    pointer-events: none;
    cursor: pointer !important;
}
.cart_product {
    margin: 0;
}
.cart_delete {
    margin-right: 0;
    overflow: hidden;
}
#form {
    margin-bottom: 80px !important;
    margin-top: 80px !important;
}
.user_info .single_field {
    width: 50%;
}

.shop-menu-top ul li a {
    margin: 0;
    background: none;
}
.shop-menu-top ul li a:hover {
    background: none;
}
.shop-menu-top ul li a i {
    padding-right: 3px;
}
.shop-menu-top ul li a i:hover {
    color: none;
}
.shop-menu-top ul li .dropdown-menu li {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* header search */
form.search-bar {
    position: relative;
}
form.search-bar input {
    border: 2px solid #dddddd;
    height: 45px;
    width: 100%;
    padding-left: 20px;
    border-radius: 30px;
}
form.search-bar button {
    font-size: 18px;
    color: #5677fc;
    background: transparent;
    height: 100%;
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
}
#search-wrap {
    position: relative;
}
.search-content {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    background: #fff;
    z-index: 999;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    display: none;
}

.search-content.active {
    display: block;
}
.search-content li {
    list-style: none;
    transition: all 0.5s;
    padding: 0.5rem;
}
.search-content li:hover {
    opacity: 0.5;
}
.search-content li img {
    width: 50px;
}
.search-content li .search-name {
    margin-left: 2rem;
}
/* header middle */
.shop-menu-navbar ul li {
    margin-left: 10px;
}
.shop-menu-navbar ul li a i {
    font-size: 3.5rem;
}
.shop-menu-navbar ul li a:hover {
    color: unset;
}
.shop-menu-navbar ul li .badge {
    position: absolute;
    background-color: var(--primary-color);
    right: -6px;
    font-size: 1.2rem;
}
.shop-menu-navbar ul li.wishlist a i {
    color: #e45151;
}
.shop-menu-navbar ul li.cart-nav a i {
    color: teal;
}

/* delete-coupon */
.delete-coupon {
    /* display: inline-block; */
    margin-left: 2rem;
    color: red;
    font-size: 2rem;
    background: none;
    border: none;
}

/* checkout */
.shopper-informations select {
    padding: 10px;
    margin-bottom: 10px;
}

/* home product card */

.product-grid3 {
    font-family: Roboto, sans-serif;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 13px rgb(0 0 0 / 10%);
}
.product-grid3:before {
    content: "";
    height: 81%;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.product-grid3:hover:before {
    opacity: 1;
    height: 100%;
}
.product-grid3 .product-image3 {
    position: relative;
    min-height: 257px;
}
.product-grid3 .product-image3 a {
    display: block;
}
/* .product-grid3 .product-image3 img {
    width: 100%;
    height: auto;
} */

.product-grid3 .product-image3 img {
    width: 100%;
    height: 240px;
    object-fit: scale-down;
}
.product-grid3 .pic-1 {
    opacity: 1;
    transition: all 0.5s ease-out 0s;
}
.product-grid3:hover .pic-1 {
    opacity: 0;
}
.product-grid3 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
}
.product-grid3:hover .pic-2 {
    opacity: 1;
}
.product-grid3 .social {
    width: 120px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -23px;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.product-grid3:hover .social {
    opacity: 1;
    transform: scale(1);
}
.product-grid3:hover .product-discount-label,
.product-grid3:hover .product-new-label,
.product-grid3:hover .title {
    opacity: 0;
}
.product-grid3 .social li {
    display: inline-block;
}
.product-grid3 .social li a {
    color: var(--primary-color);
    background: #fff;
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0 2px;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid3 .social li a:hover {
    background: var(--primary-color);
    color: #fff;
}
.product-grid3 .product-discount-label,
.product-grid3 .product-new-label {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 17px;
    padding: 2px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.3s;
}
.product-new-label {
    background-color: transparent !important;
    color: #e74c3c !important;
    font-size: 3rem !important;
}
.product-grid3 .product-content {
    z-index: -1;
    padding: 15px;
    text-align: left;
}
.product-grid3 .title {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all 0.3s ease 0s;
    height: 35px;
}
.product-grid3 .title a {
    color: #414141;
}
/* .product-grid3 .title a {
    color: #414141;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    min-height: 30px;
    overflow: hidden;
} */
.product-grid3 .price {
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-grid3 .price span {
    color: #909090;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: right;
    display: inline-block;
    /* margin-top: -2px; */
}
.product-grid3 .rating {
    padding: 0;
    margin-top: 1rem;
    list-style: none;
    text-align: right;
    display: block;
}
.product-grid3 .rating li {
    color: #ffd200;
    font-size: 13px;
    display: inline-block;
}
.product-grid3 .rating li.disable {
    color: #dcdcdc;
}

@media only screen and (max-width: 990px) {
    .product-grid3 {
        margin-bottom: 30px;
    }
}

/* Dashboard */
.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.icon-stat {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 15px;
    margin-bottom: 1em;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.icon-stat-label {
    display: block;
    color: #999;
    font-size: 13px;
}

.icon-stat-value {
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.icon-stat-visual {
    position: relative;
    top: 22px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.bg-primary {
    color: #fff;
    background: #d74b4b;
}

.bg-secondary {
    color: #fff;
    background: #6685a4;
}

.icon-stat-footer {
    padding: 10px 0 0;
    margin-top: 10px;
    color: #aaa;
    font-size: 12px;
    border-top: 1px solid #eee;
}

/* contact */
#gmap.contact-map iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

/* review */
#comments .woocommerce-Reviews-title {
    font-size: 15px;
    font-weight: 600;
}

#comments .woocommerce-Reviews-title span {
    font-weight: 400;
    font-style: italic;
}

#comments .commentlist {
    padding: 0;
}

#comments .commentlist li {
    list-style: none;
    display: block;
    width: 100%;
    float: left;
    margin: 10px 0;
}

#comments .commentlist li .comment_container img {
    /* max-width: 80px; */
    float: left;
}

#comments .commentlist li .comment_container .comment-text {
    float: left;
    width: calc(100% - 220px);
    padding-left: 15px;
}

.width-20-percent {
    width: 20%;
}
.width-40-percent {
    width: 40%;
}
.width-60-percent {
    width: 60%;
}
.width-80-percent {
    width: 80%;
}
.width-100-percent {
    width: 100%;
}

.star-rating {
    font-size: 0;
    position: relative;
    display: inline-block;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .star-rating {
        overflow: hidden;
    }
}

.star-rating::before {
    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;
    font-size: 15px;
    color: #e6e6e6;
}

.star-rating span {
    display: inline-block;
    float: left;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;
    font-size: 15px;
    color: #ffd200;
}

#comments .commentlist li .comment_container .meta {
    margin-bottom: 8px;
}

#review_form_wrapper #review_form {
    display: inline-block;
    width: 100%;
}

#review_form_wrapper #review_form .comment-form p > label {
    display: block;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}

#review_form_wrapper #review_form .comment-form p.comment-form-author,
#review_form_wrapper #review_form .comment-form p.comment-form-email {
    width: calc(50% - 15px);
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    float: left;
}

#review_form_wrapper #review_form .comment-form p.comment-form-author {
    margin-right: 30px;
}

#review_form_wrapper #review_form .comment-form p.form-submit,
#review_form_wrapper #review_form .comment-form p.comment-form-comment {
    display: inline-block;
    float: left;
    width: 100%;
    margin: 30px 0;
}

#review_form_wrapper
    #review_form
    .comment-form
    p.form-submit
    input[type="submit"] {
    max-width: 115px;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 9px;
    width: 100%;
    margin-bottom: 15px;
}

#review_form_wrapper
    #review_form
    .comment-form
    p.form-submit
    input[type="submit"]:hover {
    background-color: #333333;
}

#review_form_wrapper #review_form .comment-form textarea[name="comment"] {
    display: block;
    width: 100%;
    border: 1px solid #e6e6e6;
    outline: none;
    padding: 10px;
    margin-bottom: 17px;
}

#review_form_wrapper #review_form .comment-form p input[type="text"],
#review_form_wrapper #review_form .comment-form p input[type="email"] {
    display: block;
    width: 100%;
    border: 1px solid #e6e6e6;
    outline: none;
    height: 39px;
    padding: 2px 10px;
    margin-bottom: 17px;
}

.wrap-product-detail .comment-form-rating > span {
    font-size: 14px;
    line-height: 20px;
    display: block;
    float: left;
    margin-right: 7px;
    color: #666;
}

.wrap-product-detail .comment-form-rating ~ p {
    margin-bottom: 0 !important;
}

.wrap-product-detail .comment-form-rating p.stars {
    display: inline-block;
    margin-bottom: 0 !important;
}

.comment-form-rating .stars input[type="radio"] {
    display: none;
}

.comment-form-rating .stars label {
    display: block;
    float: left;
    margin: 0;
    padding: 0 2px;
}

.comment-form-rating .stars label::before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 15px;
    /*color: #e6e6e6;*/
    color: #ffd200;
}

.comment-form-rating .stars input[type="radio"]:checked ~ label::before {
    color: #e6e6e6;
}

.comment-form-rating .stars:hover label::before {
    color: #ffd200 !important;
}

.comment-form-rating .stars label:hover ~ label::before {
    color: #e6e6e6 !important;
}

.comment-form-rating {
    margin: 30px 0;
}

/* featured_items-control */
.featured_items {
    position: relative;
}
.featured_items-control {
    position: absolute;
    z-index: 99;
    top: 50%;
}
.featured_items-control i {
    background: none repeat scroll 0 0 var(--primary-color);
    color: #ffffff;
    font-size: 20px;
    padding: 4px 10px;
}

/* Shop sort  */
.sort {
    padding: 0 1.5rem 1.5rem;
}
.sort .sort-title {
    font-size: 1.8rem;
    color: #000;
}
.sort a {
    font-size: 1.5rem;
    color: #000;
    margin: 0 15px;
}
/* Login/register social */
.social {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.social-btn {
    padding: 1rem 1.5rem;
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

.social-btn i {
    width: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    pointer-events: none;
}
